html {
    font-family: 'Changa One', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Color Emoji', sans-serif;
font-family: 'Noto Emoji', sans-serif;
font-family: 'Pridi', serif;
font-family: 'Prompt', sans-serif;
}

.emoji {
    
}